<h2><a href="/students/<%= @student.id %>"><%= @student.name %></a></h2>
<form action="/students/<%= @student.id %>/entries" method="post">
  <h4>Title <input type="text" name="entry[title]"></h1>
  <br>
  <textarea name="entry[content]" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Save Entry">
</form>

<form action="/students/<%= @student.id %>" method="get">
  <input type="submit" name="cancel" value="Cancel">
</form>
