<form action="/entries" method="post" id="entry_form">
  <h4>Title <input type="text" name="entry[title]"></h1>
  <br>
  <textarea name="entry[content]" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Add Entry">
</form>
