<!-- <h1><%= @student.name %></h1>
<h4>Title <%= @entry.title %></h1>
<p><%= @entry.content %></p>
<br>
<form action="/entries/<%= @entry.id %>/edit" method="get">
  <input type="submit" value="Edit">
</form> -->
