<h1><%= @student.name %></h1>
<h4><%= @student.email %></h4>
<form action="/students/<%= @student.id %>/edit" method="get">
  <input type="submit" name="edit" value="Edit">
</form>
<br></br>

<form class="" action="/entries/new" method="get">
  <% session[:student_id] = @student.id %>
  <input type="submit" name="new_entry" value="Add New Entry">
</form>
<br>
<h1>Entries</h1>
<% @student.entries.each do |entry| %>
<h4><%= entry.title %></h4>
<% end %>
